@CHARSET "UTF-8";
* {
    font-family: 'Vollkorn', serif;
}

pre {
	font-family: 'Droid Sans Mono', sans-serif;
}

#login-loader {
	z-index: 10001; /* gplus-button has z-index 10000 */ 
}

#toast-container {
	z-index: 10002; /* yes, even ovar login-loader... */ 
}
